.the-best-add{
    margin-top: 4rem;
    background-color: gray;
    border-radius: 2rem ;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.the-best-add>span{
    z-index: 2;
}

/* targating as child div */
.the-best-add>div{
    position: absolute;
    background-color: orange;
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
}