.join{
    display: flex;
    padding: 0 2rem;
    gap: 10rem;
}

.left-join{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.left-join>div{
    display: flex;
    gap: 1rem;
}
.right-join{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.email-container{
    display: flex;
    gap: 3rem;
    background-color: gray;
    padding: 1rem;
    
}